[2021-02-05 17:10] joshua-berry-ntnx commented on #610
Yes, this seems to be fixed. Thanks!

[2021-02-05 17:10] #610 closed

[2021-02-08 12:56] #599 closed

[2021-02-08 12:56] #602 closed

[2021-02-08 12:57] #601 closed

[2021-02-08 13:49] #605 closed

[2021-02-08 17:11] #603 closed

[2021-02-09 11:49] Emulebest opened #619 "Fixes & enhancements on the merged PRs"
To do:

- [ ] https://github.com/nutanix/papiea/pull/617#pullrequestreview-585717095
- [ ] https://github.com/nutanix/papiea/pull/615#pullrequestreview-585712128
- [x] https://github.com/nutanix/papiea/pull/616#pullrequestreview-584433477

[2021-02-09 11:50] Emulebest commented on #571
includes #607

[2021-02-09 13:03] Emulebest commented on #611
@shlomi-nx @joshua-berry-ntnx Thinking about this more I have a few opinions on that. Firstly, I am against removing/disallowing Swagger standardized keywords (in our case `nullable`). Why so?
People are already used to having nullable alternatives, all the popular static languages have this form of semantics (either built-in like C# or opt-in like Java). Moreover, this is a staple of Swagger itse

[2021-02-09 13:07] Emulebest commented on #604
TypedDict is nothing different from regular dict asides from the type hints. My suggestion would be to see if the first parameter of the on_create function:
1) is a dict
2) doesn't have an input_schema param
which leads to the conclusion that a dict is an input_schema in of itself

[2021-02-09 13:08] Emulebest commented on #600
@nitesh-idnani1 mind if I'll be taking this from you while we are discussing my other issues?

[2021-02-09 18:58] Emulebest opened #620 "Remove jaeger logs and fix closing"
Jaeger is spitting too many logs

[2021-02-11 18:30] nitesh-idnani1 opened #625 "Using 2 Providers in Sdk + Oauth tests for the Papiea SDK"
### System Details

- **Papiea Engine version**: 0.9.24
- **Papiea SDK version:** 0.9.24
- **Papiea Client version:** 0.9.24

### Describe the Bug

For oauth and policy registration in the papiea sdk tests, we use two providers i.e. one to create entity, register authorizer policies, etc and other to invoke procedure to check user permission.

### Bug information

[code]
### Expected/Actual Behavi

[2021-02-11 18:34] nitesh-idnani1 opened #626 "Api docs generator produces incorrect swagger output for the provider"
Following issues have been discovered in the output generated by api docs generator:
- Input tag is present in one/more procedures
- Errors thrown by swagger are not being handled by the papiea engine before generating the swagger output

[2021-02-11 18:34] nitesh-idnani1 commented on #626
@shlomi-nx
Feel free to add more information if i missed something. Thanks

[2021-02-12 01:20] joshua-berry-ntnx opened #627 "logging_verbosity and tracing_config config entities cannot be set thru env variables and have inadequate validation"
### System Details

- **Papiea Engine version**: master e70375cf (0.9.24)
- **Papiea SDK version:** 0.9.24
- **Papiea Client version:** 0.9.24

### Describe the Bug

There are two very closely related problems:
- It is impossible to set the `logging_verbosity` or `tracing_config` parameters through the environment
- Neither of these options appear to have adequate validation, so setting either of

[2021-02-12 02:28] joshua-berry-ntnx opened #628 "Custom constructors: Validation errors are unclear [was: Mismatch between generated swagger and actual constructor arguments]"
### System Details

- **Papiea Engine version**: 0.9.24
- **Papiea SDK version:** 0.9.24
- **Papiea Client version:** 0.9.24

### Describe the Bug

If I define a custom constructor with some arbitrary input parameters `{a, b}`, the generated swagger in the UI says I should be able to call the constructor with `a` and `b` parameters at the top level. Yet doing so leads to model validation errors.

[2021-02-12 06:52] #620 closed

[2021-02-12 07:01] Emulebest commented on #627
@joshua-berry-ntnx I will take a look and try to fix this, though I don't think setting complex values through env variables is a good idea anyways. Is there any particular reason to not use https://github.com/nutanix/papiea/blob/master/papiea-engine/papiea-config.yaml?

[2021-02-12 07:38] Emulebest commented on #625
Hey @nitesh-idnani1 took a look. Though the procedures are run on the behalf of the sdk's created provider, the `ctx.check_permission` construct tests against the correct provider created in the earlier steps (which has auth patterns applied to it)

[2021-02-12 17:08] joshua-berry-ntnx commented on #627
Yes—it's messier and harder to manage. Currently we do all our configuration through the single `docker-compose.yaml` file itself. Breaking out a config file for Papiea would mean we no longer have all our configuration in one place and it's harder for new developers to know where to look to find what you need. Volume sharing is not great because we are tying the source tree to the deployed contai

[2021-02-15 11:08] Emulebest commented on #611
@shlomi-nx Took some more time to think on the topic. I believe the notion of `want to have nullable field - just don't make it required` is fine with me as long as we provide a good warning/error message on using the `nullable` property

[2021-02-15 11:51] #627 closed

[2021-02-16 11:00] Emulebest commented on #604
@shlomi-nx in Python SDK you could use:
[code]

I wouldn't want to remove/add variance to `input_schema` as a parameter because it will break the contract of

[code]

[2021-02-16 11:05] Emulebest commented on #628
@joshua-berry-ntnx let's speak on the matters on the call. Wrapping the input with spec like ` {spec: {a: ..., b: ...}}` is not how the constructors requires it. `spec` wrapper is completely optional

[2021-02-16 18:50] nitesh-idnani1 commented on #625
In this case, a cleaner way would be to register the provider procedure with the original `provider` variable using the test factory method like `withProviderProcedures("computeWithPermissionCheck")`, correct?

Then, we can avoid the sdk altogether. But since this is sdk test we're doing it like this?

[2021-02-16 23:18] joshua-berry-ntnx commented on #628
I think this might actually be two separate issues.

Unbenkownst to me when I filed this bug, we were setting `'x-papiea': 'status-only'` in the schema for certain fields in our custom constructor. (This obviously doesn't make sense and is a bug on our side, but bear with me for a moment.) Papiea accepted this schema without comment (which it shouldn't have), yet calling the constructor and passin

[2021-02-17 00:17] joshua-berry-ntnx commented on #628
@nitesh-idnani1 and I sat and looked at this some more, and we determined the problem wasn't at all where I thought it was—it was the provider's constructor which was returning a bad entity that did not pass validation, and THOSE validation errors are what I was seeing originally. But the way the errors were reported was very misleading, because they were indistinguishable from a client passing ba

[2021-02-17 00:35] nitesh-idnani1 commented on #628
I'll try to add some fixes in the improve logging PR. Kindly check and let me know if we need more context/info.

[2021-02-17 12:18] Emulebest commented on #628
@nitesh-idnani1 @joshua-berry-ntnx Can you confirm that #623 closes this and we don't need other tests/checks/etc?

[2021-02-17 18:06] nitesh-idnani1 commented on #628
I'll add a couple of tests to verify the errors are indeed different for "constructor input" v/s "constructor returned entity" validation.
Let me know if we need anything else.

[2021-02-18 18:10] shlomi-nx commented on #628
Regarding using wrong flags on swagger definitions, such as `'x-papiea': 'status-only'` on input parameters, we have 2 options:
1. Simply reject any wrong inputs
2. Make a loud warning but ignore the flags

Perhaps we could think of some form of `pedantic` parameter, which can toggle between the two, so during dev time we would not have this on and papiea would ignore some recoverable problems, bu

[2021-02-18 18:17] shlomi-nx commented on #604
@Emulebest, do you mean we could use the above example right now without any changes? In that case it may be sufficient.

[2021-02-18 19:12] #626 closed

[2021-02-19 11:50] Emulebest commented on #604
@shlomi-nx Yes, you could. Please reopen the issue if you need anything else on this

[2021-02-19 11:50] #604 closed

[2021-02-19 11:51] Emulebest commented on #582
@shlomi-nx @joshua-berry-ntnx Should we start working towards this with Shlomi's implementation idea?

[2021-02-19 11:53] Emulebest commented on #581
We should discuss the last point made by @joshua-berry-ntnx (robust/simple retry logic)

[2021-02-19 12:17] Emulebest commented on #611
@shlomi-nx @joshua-berry-ntnx @nitesh-idnani1 Were there any agreements reached in regards to this issue?

[2021-02-19 19:53] #372 closed

[2021-02-19 21:25] joshua-berry-ntnx opened #633 "Propagate errors with complete information"
### System Details

- **Papiea version**: 0.9.27 [all components]

### Describe the Bug

There are a few situations where relevant error information is swallowed because exceptions are being re-thrown or are not being translated correctly across API boundaries. Please take a systematic look at all the places where we are re-wrapping exceptions and either stop doing this entirely or wrap them with

[2021-02-19 21:32] joshua-berry-ntnx commented on #633
To add more thoughts: I'm honestly not sure how much of this should be handled by Papiea vs. the providers, but that's where I think some design is warranted. If some help is needed to propagate errors correctly to/through a provider, it would be great to have a clear contract defined for this.

What should a provider throw? What form should it take to be recognized and propagated correctly? etc.

[2021-02-19 23:25] #600 closed

[2021-02-19 23:25] #619 closed

[2021-02-19 23:25] #628 closed

[2021-02-19 23:53] nitesh-idnani1 commented on #633
Yes, we were missing the on create error handling in the papiea response logic. I've added that as part of the improve logging PR.
Reference:
https://github.com/nutanix/papiea/blob/dfb71930b9192723b7a1d4ddc01e6199cd23924b/papiea-engine/src/errors/papiea_error_impl.ts#L107

I would suggest to use the latest papiea version and try the tests. After that, it would be easy to define what the issue is a

[2021-02-20 02:32] joshua-berry-ntnx commented on #582
@Emulebest Sounds good to me.

[2021-02-20 02:34] joshua-berry-ntnx commented on #611
IIRC we had agreed that we don't need to support `nullable`, and we should reject schemas with `nullable`. We can simply tell people to make the field not-`required` if need be.

If someone comes back later with a compelling use case, we can always revisit this. Adding support for something is always easier than removing support. ;)

[2021-02-22 10:11] Emulebest commented on #633
@joshua-berry-ntnx This has another pitfall of showing provider error details to the client invoking a handler, so the detail swallowing was done on purpose that time. Maybe we should log errors to papiea but not send any error details back to client?

[2021-02-22 19:43] nitesh-idnani1 commented on #633
Also, things like "Procedure invocation failed" / "Validation failed" / "Permission denied" is the summary for the error thrown by papiea. For debugging purposes and understanding the actual errors it's better to look into the "errors" field returned in the papiea response rather than the "message" field.

I can probably rename the message field to something like summary or error type, so that the

[2021-02-23 20:40] nitesh-idnani1 commented on #633
@joshua-berry-ntnx @shlomi-nx @Emulebest
So far, I'm thinking of the following structure for the base error class and one of the extended classes (BadRequestError):

Base error class (extends JS Error which includes the name and stack fields):
[code]

BadRequest error class (extends base error):
[code]

Error Details interface to store the error related fields easily
[code]

Example for throwing e

[2021-02-24 00:30] shlomi-nx opened #637 "Third-party secret-store integration"
Be able to store provider, S2S, user keys in e.g. Azure or AWS key vaults

Requires design

[2021-02-24 00:35] shlomi-nx opened #638 "Nicer diff interface in intent handlers"
Get rid of the second-level nested array in diffs unless the diff type is actually an array (e.g. `spec[0].diff[0]` when diffing two strings)
* It's confused me and everyone else I know who's had to learn it
* It makes provider code harder to read / leads to smelly code (e.g. "why is [0] always hardcoded for the nested array?")

# Some design is needed
It may be difficult to embed the schema in th

[2021-02-24 00:45] shlomi-nx opened #639 "Dashboard/monitoring to surface problems"
Dashboard/monitoring to surface problems running procedures, resolving intents

We started using Jeager, which may be sufficient. Let's see if we can get all we want. We want running statistics on:
1. Success/failure rates of procedure invocations. Perhaps break-down by failures:
   1. e.g. Find a significant increase in failures of type "no free machines" on a particular procedure
2. Time-to-comp

[2021-02-24 01:07] #423 closed

[2021-02-24 01:08] shlomi-nx commented on #488
This ask is really an ask of deployment. We should track that in the Customer-1 board.

[2021-02-24 01:11] shlomi-nx commented on #348
We should move the work done on this from customer-1 to Papiea.

[2021-02-24 01:22] shlomi-nx commented on #366
@Emulebest, do we still need this ticket?

[2021-02-24 01:26] shlomi-nx commented on #361
We should put Python in JFrog, so that requirements.txt does not contain an opaque hash instead of a clear version string

[2021-02-24 01:27] #384 closed

[2021-02-24 01:38] joshua-berry-ntnx commented on #561
Customer-1 has some code to mock parts of the Papiea SDK we could potentially leverage for this. A lot of it is fairly generic. Maybe once we have a bit more experience in unit testing in Customer-1, we can revisit this to get more clarity what would be useful for users.

[2021-02-24 01:50] joshua-berry-ntnx opened #640 "Stop depending on NODE_ENV for formatting logs"
Currently the log-formatting logic in _papiea-backend-utils_ checks NODE_ENV to tell if we should emit pretty-printed or condensed logs. Instead of checking NODE_ENV, we should add another parameter to the existing logging configuration (which comes through env variables or config files) as to whether we want condensed or pretty-printed output.

As an alternative, we can simply remove the pretty-p

[2021-02-24 10:59] Emulebest commented on #361
Python SDK is already in JFrog, you can use the same versions as with Typescript SDK

[2021-02-24 17:43] nitesh-idnani1 commented on #583
Based on the use-case discussion for destructors with @ShrikantJadhav-Ntnx, here are the few requirements that I have scoped out:

- Input parameters in destructors:
We have requirements for passing some input field to the destructor for an entity, so that we can update the associated entities and store information related to the reason for failure in those.
This can be achieved in the same way as

[2021-02-24 18:05] shlomi-nx commented on #633
In our discussion, the `cause` was actually a reference to a previous exception, not a string.
That is how I see the base class:

[code]

This way, the standard pattern of catch-and-rethrow would intuitively look like:

[code]

[2021-02-24 18:27] nitesh-idnani1 commented on #633
Thanks for the feedback, two points that I want to discuss:

- We need to set what information we need to include in the error message, since now we have three pieces in the message i.e. reason for the error + provider/kind related info (prefix/version/kind) + resolution for the error. I believe this will make up for a large error message, which can lead to some confusions for the end user.

- For

[2021-02-24 18:42] shlomi-nx commented on #633
In the general case, I am not sure that we need a list of causes instead of a single nested cause. The idea is that exceptions traverse the stack, so there really isn't a list of them.

In the specific case of Validation errors, @Ntnx-Igor-Korotach tried to follow [haskell Validation type](https://hackage.haskell.org/package/validation), which is an accumulative error type. The reason for this is

[2021-02-24 21:20] shlomi-nx commented on #583
Destructors generally do not accept any parameters, so I am not sure that adding parameters is a good abstraction. Usually if parameters are needed, there would be a formal method such as `close` or `release` that must be called prior to the destructor. We need to dig deeper to understand the requirement for input parameters on destructors. More than that, although RFC does not prohibit bodies on

[2021-02-24 21:42] shlomi-nx commented on #361
oh! awesome, I will try that!

[2021-02-24 21:43] shlomi-nx commented on #361
Perhaps we should add another line in the Readme table for python, just to be clear.

[2021-02-25 00:51] joshua-berry-ntnx commented on #583
#### Requirements (Nitesh's post)

I think intentful destructors could be useful but I'm not sure how they would work. For example, cleaning up a resource may require some configuration change somewhere which could fail, etc. To implement this, though, we would basically have to do some kind of asynchronous deletion where the entity simply disappears at some unspecified time when the intent is res

[2021-02-25 18:11] #606 closed

[2021-02-25 18:37] shlomi-nx commented on #609
needs #611

[2021-02-26 18:53] joshua-berry-ntnx commented on #633
First, one general suggestion: I know JavaScript treats errors like objects (in the OO sense), but I think we would be better-served thinking about them first as JSON/plain data structures and then translating that to JS (or Python) exceptions. How should detailed errors be exposed in the API?

So just starting with the API format and building a little bit on what's been proposed so far, I think s

[2021-02-26 20:48] nitesh-idnani1 commented on #633
Addressing @joshua-berry-ntnx comments,
I believe the structure will look similar to what you've mentioned above, except the stack trace will be hidden from the user but will be formatted and included in the papiea logs. The error response will also include certain standard fields like error code, error name, error message (generic) for all papiea exception types. For detailed message, we have the

[2021-03-01 20:15] nitesh-idnani1 commented on #583
Here are the general updates to sum up the discussion so far, and further thoughts on how should the destructors work:

### Parameters in delete call:

We decided not to add parameters to the delete call, since the support is not fully completed. Instead, provider capabilities to register and invoke pre-delete handler as a specialized method and keep the delete API call as it is. An example usage

[2021-03-02 12:36] ShrikantJadhav-Ntnx opened #643 "Expose parameters to client for controlling retry diff delay"
After moving to papiea version 0.9.27, BMaaS started seeing slowness in system tests. With earlier papiea version (0.9.6) system tests used to get finished in 5-6 mins, and with papiea version 0.9.27 the same set of system tests started taking 20-25 mins.

- From logs we noticed that most of the time was being spent in the state transiting;
- Jaeger traces shown that state_diff_handlers are gettin

[2021-03-02 12:42] Emulebest commented on #60
@shlomi-nx @joshua-berry-ntnx I don't think this is relevant anymore, we pretty much have coverage for everything. We might want to improve coverage on some aspects but IMO this is not a milestone-ish issue if we don't have any specific problematic area that causes a lot of troubles due to lack of testing

[2021-03-02 12:43] Emulebest commented on #577
Reopening because this is not resolved

[2021-03-02 12:44] Emulebest commented on #575
I don't think we have neither log tags nor dynamic log levels

[2021-03-02 12:46] Emulebest commented on #625
@shlomi-nx @joshua-berry-ntnx I don't think this should belong to this milestone because this is mostly low impact tiny refactoring request

[2021-03-02 18:25] shlomi-nx commented on #643
Not sure what exactly you mean by expose to the client, but surely this needs to be easily configurable using env vars set up in docker-compose.yaml. Will this be sufficient?

[2021-03-02 18:26] shlomi-nx commented on #643
@ShrikantJadhav-Ntnx When making the above changes, do you know which of the three locations is responsible for the improvement?

[2021-03-03 01:01] shlomi-nx opened #644 "Undefined fields are being cast to null fields which throws off the differ"
We found a serious problem on the boundary between javascript and clojure. Apparently, on some occasions,  the differ is receiving spec and status that contains undefined fields. We couldn't see that its the case when printing them, because js "conveniently" hides them, but when transforming the data-structures to clojures using `js->clj`, all undefined fields are turned to null fields. This had t

[2021-03-03 01:09] shlomi-nx commented on #644
We tried to use mongo to ignore undefined (see https://mongodb.github.io/node-mongodb-native/2.2/api/MongoClient.html), but it does not seem to be well documented and I do not want to rely on them for this. This is why @nitesh-idnani1 .idnani is now writing the sanitizer.

We should place the sanitizer directly before invoking the sfs differ, here https://github.com/nutanix/papiea/blob/dfb71930b91

[2021-03-03 02:31] shlomi-nx commented on #644
Lets also make sure we provide a better error message for the case that got us to discover this problem:
[code]

[2021-03-03 06:21] ShrikantJadhav-Ntnx commented on #643
By expose i meant, was either to allow setting it per kind like 'diff_retry_exponent' or having config parameter which could be set in docker-compose.

Yes, @shlomi-nx configuring by settiing env vars in docker-compose.yaml would be sufficient.  Thank you.

[2021-03-03 06:24] ShrikantJadhav-Ntnx commented on #643
Yes, Almost all of the improvement were seen after doing only below change

[code]

[2021-03-03 07:15] shlomi-nx commented on #643
This means that what helped was overriding the return value of the invoked handler, which should be configured by the provider and if not a default is used. We should be able to allow an env-var knob for default delay if provider returned nothing, but we must not override actual values returned by the provider. If the provider wishes to make these configurable, such as with a multiplier, it will n

[2021-03-03 11:58] Emulebest commented on #643
We changed the default knob to be responsible for the exponential multiplier. Maybe add a setting to turn multiplication off completely?

[2021-03-03 12:13] Emulebest commented on #361
Closed via #63166a444c9e1a9904a82e5c4bad3c764027e3ac

[2021-03-03 12:16] Emulebest opened #646 "Group all papiea infrastructure scripts in one place"
Put all the:
1) Publish SDK, client, engine, etc. files
2) Update version
3) Add to changelog
4) etc.
scripts to a directory named `papiea-infra` or something close

[2021-03-03 12:17] #361 closed

[2021-03-03 23:24] nitesh-idnani1 commented on #640
We already had support for setting logging format in the "LoggerOptions" structure (added reference below). So, I just added support to set the logging format through config variable in the linked PR. Let me know if we need to change anything else.
https://github.com/nutanix/papiea/blob/7e8b9916fadc35d81623e79e1c34f37df2966eb2/papiea-backend-utils/src/logging.ts#L173

[2021-03-04 12:04] #582 closed

[2021-03-04 17:23] #640 closed

[2021-03-05 20:23] #644 closed

[2021-03-06 01:55] joshua-berry-ntnx commented on #60
I'm OK to close and/or split this, up to you guys.

[2021-03-06 01:56] joshua-berry-ntnx commented on #625
Fine by me. Moved it to 1.0 but please feel free to adjust as needed.

[2021-03-10 11:42] #611 closed

[2021-03-11 11:15] Emulebest commented on #609
This needs some clarification as I see some contradicting messages in the paragraphs above, let's get on the call about that

[2021-03-11 18:34] nitesh-idnani1 opened #650 "Missing validator check for untyped objects in the schema"

[2021-03-12 12:29] Emulebest opened #652 "Make a memory-dump taking script"

[2021-03-15 14:24] Emulebest opened #654 "[Python] Fix custom field bugs & added metadata extension adjustment"
provide the same fixes as #653

[2021-03-16 18:17] nitesh-idnani1 opened #656 "Missing helper functions for processing axios response and error"
`res.data.error.error_details.cause.cause.message` - thats a serious, and repetitive, drilldown.. perhaps some helper functions are in order?

_Originally posted by @shlomi-nx in https://github.com/nutanix/papiea/pull/636#discussion_r590832891_

[2021-03-17 00:17] joshua-berry-ntnx opened #658 "Audit Papiea for improper error handling"
There are a few places I've run across in Papiea where we have exception handling that looks something like this:

[code]

Nitesh and I ran across a similar example in `diff_resolver.ts` earlier today:

[code]

We should never, ever write code that looks like this, because unexpected/unanticipated errors will get swallowed and nobody will be able to debug what's going on.

All our catch blocks sho

[2021-03-17 12:12] Emulebest commented on #658
While I agree with the idea, I don't think that approach above will help too much and will certainly bloat the codebase. Why so? Firstly, `instanceof` is not going to help much since you would need to manually set the prototype, which is not done by majority library writers. Secondly, `typeof e === 'object'` isn't of help as well because you can do `throw "I am a dumb JS string error"`. We won't b

[2021-03-17 12:30] Emulebest opened #660 "[Performance Problems] Papiea Reengineering"
This issue is devoted to reengineering efforts to resolve the performance problem

[2021-03-17 12:31] Emulebest commented on #654
@nitesh-idnani1 I am putting you in charge of this because I am really busy with #660

[2021-03-17 13:22] Emulebest commented on #660
What should be done, my thoughts:

**Diff**:

Diff should get its own uuid to be moved and searched in database with relative ease. The interface should move from this:
[code]
To this
[code]

**Watchlist:**

Watchlist now is prone to race conditions and is has a very confusing and hard to work with signature (due to historical reasons). Now the signature for watchlist is as follows (leaving all th

[2021-03-17 16:26] #650 closed

[2021-03-18 03:06] joshua-berry-ntnx opened #663 "Rework how diff retry delays are done"
There seem to be several things involved in calculating when diffs should be retried:
- calculateBackoffFn
- entropyFn
- The delay in diff_resolver.run() (diffResolveDelay)
- The system RNG
- Various constants spread throughout the codebase (config defaults, hard-coded constants in `utils/utils.ts`, etc.)

The way we incrementally build up the final delay value (using a function produced by a `get

[2021-03-22 01:18] joshua-berry-ntnx opened #665 "update_status() is a race condition waiting to happen"
Many, probably even most of the races I have fixed in Customer-1 code involve update_status() in some form. Usually update_status() being done against some entity other than the one being operated on, based on information that may be out of date (e.g. a simple read/modify/write).

I know there's been a lot of resistance in the past to making update_status() atomic in some way, but we really need t

[2021-03-23 20:21] nitesh-idnani1 commented on #665
Adding discussion points based on the design meeting with @joshua-berry-ntnx @shlomi-nx. Feel free to add your comments/feedback to this @Emulebest.

### Problems with `update_status` (misuse):

1. **Race conditions in update_status**
In case of multiple processes/threads working on the same entity, we could run into a scenario where both the processes try to read and update the same entity status

[2021-03-24 22:25] nitesh-idnani1 commented on #658
Fixed by error details swallowing PR (#636) commit https://github.com/nutanix/papiea/pull/636/commits/ae54fc295860bf74275b4e769e864cd430db63d8

[2021-03-24 23:35] joshua-berry-ntnx commented on #658
Hi @nitesh-idnani1, I think this is issue might be slightly different from your PR, although they are related. For this issue, we should be looking not specifically at logs, but at any place where we do exception handling like what's described above. Were you able to address things like `catch (e) { return; }` in your PR as well?

[2021-03-24 23:40] nitesh-idnani1 commented on #658
Yes, I based those changes on all instances where I found catch block with swallowed error information

[2021-03-24 23:49] joshua-berry-ntnx commented on #658
The use of `instanceof` was merely an example of how to look for and specially handle a *specific* type of error. You might use instanceof, or some other method (like checking for certain fields) depending on the error you want to handle specially.  The point here is, for any case where you need some special handling (for example, handling a "not found" error, or an entity update conflict, or simi

[2021-03-25 17:55] joshua-berry-ntnx commented on #566
@Emulebest Can you schedule a meeting to discuss what we want to do here? We should define what we use Winston vs. Jaeger for and how these two things interact, and clarify some of the requirements here.

[2021-03-25 18:07] joshua-berry-ntnx opened #668 "Stress and scale testing"
We should have some regular stress and scale testing for Papiea. TBD what this will actually look like specifically, but I'm thinking lots of entities, lots of things happening in parallel. Lots of procedures, lots of concurrent diff resolutions, etc. Basically we want to find any races/inconsistencies in Papiea itself, particularly the engine.

[2021-03-25 18:09] joshua-berry-ntnx opened #669 "Define a more formal release process"
A few things will go into this:
* We need to notify our users of breaking API changes and other changes they might be interested in
* Provide any upgrade/migration instructions for production deployments
* Validate any longer-running tests we come up with prior to every release (e.g. get a clean stress/scale run)

[2021-03-26 17:53] nitesh-idnani1 commented on #665
### Implementation Details for `Hashing-Based Updates` (In Progress):

### Engine Changes
**Database changes** - I want to push the hash compare logic as far down in the pipeline as possible where we can be sure about the truthfulness of the status value, so the ideal component to add it to would be the **database** (mongo). We can set a **metadata** field named **`metadata.status_hash`** and set

[2021-03-30 01:30] joshua-berry-ntnx commented on #665
Agree.

Generally agree. Perhaps we can have two different sub-types of ConflictingEntityError for spec and status, specifically, and then the base-class error can be caught as a general "hey you have a conflict in here somewhere".

Agree. Let's also make update_status() return the updated entity (with the new status hash). That way multiple changes are convenient to write, e.g.:

[code]

One othe

[2021-03-31 19:15] nitesh-idnani1 commented on #665
Agreed.

We need to discuss this, since the current impl returns intent watcher responsible for the diffs produced due to the status update. Let's figure out if we can replace the watcher with updated status.

Okay, I'll take a note of this. We can discuss it after this issue is fixed.

I still have few concerns, let's discuss those in the sync.

[2021-04-01 11:47] Emulebest commented on #660
@joshua-berry-ntnx A few implementation details that arose during the reengineering:

1) **Database structure:**

[code]
It looks like we don't need a very discrete addressing of in-memory watchlist. Thus we decided to simplify the watchlist to allow for easy iteration and database modification.

2) **Watchlist scalability:**

Considering the fact that papiea should scale to multiple instances and

[2021-04-02 18:51] joshua-berry-ntnx opened #675 "Papiea sometimes does not pass up-to-date/complete entity info to procedures or intent handlers"
### System Details

- **Papiea Engine version**: 0.9.51
- **Papiea SDK version:** 0.9.51
- **Papiea Client version:** 0.9.51

### Describe the Bug

Sometimes it seems Papiea isn't passing fully-complete entity info to procedures, and we have to do an explicit `get()` to retrieve the full entity. For example, properties which I know are set on the entity (and which are not actively being worked on)

[2021-04-05 18:14] joshua-berry-ntnx opened #676 "Look into winston logger resource usage"
### System Details
- **Papiea Engine version**: 0.9.46
- **Papiea SDK version:** same
- **Papiea Client version:** same

### Describe the Bug

Customer-1 has periodically seen OOM crashes in Node. Upon inspection of core dumps with `strings`, the most common string found was a log tag of the form `<provider>/<version>/...`, which makes me think there is some issue with how we are using the Winston

[2021-04-05 18:50] joshua-berry-ntnx commented on #453
One related thing we can maybe tackle as part of this issue: the way Papiea is built right now, the Dockerfile for papiea-engine expects Papiea to be built outside and then have the build output provided to the Dockerfile. This is backwards of how Dockerfiles are intended to work; typically one should only provide human-generated sources as Docker input and the Dockerfile should then be able to in

[2021-04-06 17:52] joshua-berry-ntnx commented on #488
Reopened because from discussion with Igor, it seems like putting a reverse proxy in front of Papiea might cause some unwanted issues. So we should have a way to enable HTTPS on the Express server itself in papiea-engine. (And maybe we should make it the default so we are secure-by-default?)

[2021-04-07 22:43] joshua-berry-ntnx commented on #658
@nitesh-idnani1 This one's already in progress right? Can you update the status? Thanks!

[2021-04-07 22:45] joshua-berry-ntnx commented on #577
@Emulebest What is left to be done here?

[2021-04-07 22:54] nitesh-idnani1 commented on #675
There are two places where we pass the entity info

1) Destructors
In case of destructors, we fetch the metadata from the spec database and pass it to the handler without any parsing/modification. We can also include the entity spec and status if it's required.

2) on change Intent Handlers
For on change intent handlers, we fetch metadata, spec and status from the database and pass it to the inten

[2021-04-07 23:05] joshua-berry-ntnx commented on #583
IIRC we decided some time back to drop this since HTTP doesn't officially support passing parameters to DELETE. Should this be closed or simply placed on the back burner?

[2021-04-08 08:38] #654 closed

[2021-04-08 08:40] Emulebest commented on #577
This PR hasn't seen any work done on it yet :) Essentially, this should have some interface of exporting logs to popular storage engines

[2021-04-08 08:42] Emulebest commented on #669
@joshua-berry-ntnx The size of this depends on more discrete decisions based on points above

[2021-04-08 08:45] Emulebest commented on #607
@joshua-berry-ntnx I am not very good with estimating user-facing documentation, could you please do that?

[2021-04-08 08:46] Emulebest commented on #571
@joshua-berry-ntnx Let's talk the plan on doing this

[2021-04-08 08:48] Emulebest commented on #311
@joshua-berry-ntnx Not sure this is relevant

[2021-04-08 08:49] Emulebest commented on #42
@joshua-berry-ntnx This is to be discussed item and requires some design

[2021-04-08 08:50] #656 closed

[2021-04-08 17:30] joshua-berry-ntnx commented on #668
Might be able to leverage some of the existing benchmark-testing stuff for this.

Next steps:
* Write a test plan (what do we want to test?)
* Come up with an approach/design for how to implement the tests (e.g. how do we run longer-running tests in CI?)

[2021-04-08 21:25] #633 closed

[2021-04-08 21:25] #658 closed

[2021-04-12 19:13] #675 closed

[2021-04-13 16:23] nitesh-idnani1 commented on #668
### Components in Papiea that can affect performance at scale

- Authentication
- Database
- Intentful Engine (Diff & Intent Resolver)

### Parameters we can use to scale/stress test the system

- Providers
- Kinds per provider
- Entities within a kind
- Procedure calls
- CRUD operation requests
- Intent handlers invocations

### Most accessed functionalities within papiea

- Update entity spec
-

[2021-04-14 23:33] #665 closed

[2021-04-16 16:58] joshua-berry-ntnx opened #679 "Replace all list_*() methods in database interfaces with async iterators"
Virtually every database interface in Papiea seems to have some sort of list() method which fetches all matching entities and returns an array. This will not scale beyond small database sizes because we will run out of memory very quickly.

All of these APIs need to be replaced with APIs that return async iterators, so we never load the entire result set into memory at once.

[2021-04-16 16:59] joshua-berry-ntnx commented on #679
BTW, this has already caused a severe out-of-memory situation in Papiea right now, where if we have too many intent watchers, we cannot process them because there are places where we try to load the entire list into memory.

Worse, this is done at startup in the diff_resolver process, so the diff_resolver process almost immediately crashes and we cannot make progress on resolving any diffs. So mit

[2021-04-16 22:54] joshua-berry-ntnx opened #680 "Spec updates should not increment spec_version and create a watcher if no actual changes are made"
If a caller does a PUT on an entity with the proper spec_version etc. but no actual changes from the entity's current spec, we should not bump spec_version or create a watcher, since there is no actual change made.

This will make PUT more idempotent, and avoid creating extra watchers/spec_versions in situations where clients are just retrying spec updates repeatedly (e.g. because the client itsel

[2021-04-19 17:54] joshua-berry-ntnx opened #684 "Harden Papiea against supply-chain attacks"
We should follow the recommendations here to ensure Papiea is not vulnerable to (and protects its downstream users from) certain types of supply-chain attacks wherein malicious publishers can upload arbitrary code with the same package as an internal name:

https://github.blog/2021-02-12-avoiding-npm-substitution-attacks/

[2021-04-19 23:26] joshua-berry-ntnx commented on #652
I think we can leverage Node's native heap-snapshot support for this. Probably we just need to turn on heap-snapshotting/SIGUSR2 by default for all Papiea processes. (And we should turn on source-maps too while we're at it, so we get nicer TypeScript backtraces.)

[2021-04-27 17:25] Emulebest commented on #679
Let's discuss the possible alternatives here for concrete use cases

[2021-04-28 15:52] Emulebest commented on #668
@nitesh-idnani1 can you provide some more input into what tech choice we should make, e.g. scale configuring, stress monitoring, etc.

[2021-04-29 00:21] joshua-berry-ntnx opened #688 "Security: Harden Papiea against various web vulnerabilities"
We should make sure we are following the best practices defined by Express for deploying secure web services:

https://expressjs.com/en/advanced/best-practice-security.html

In particular, we should probably look at using the Helmet middleware to set appropriate headers to prevent CSRF and similar things—not that we are likely to be vulnerable to many of them in our specific situation, but it take

[2021-04-29 00:23] joshua-berry-ntnx opened #689 "Security: Harden the SDK/provider HTTP server"
Similar to what we've done in the engine:
* Use SSL/TLS
* Set appropriate HTTP headers to enable HSTS and guard against XSRF and similar attacks

This can be done very easily with Express in the TypeScript SDK; not sure about the Python SDK.

[2021-05-03 20:42] nitesh-idnani1 commented on #668
I haven't done much research on what we can use, but I was thinking once we get the requirements finalized choosing the library/framework should be a simple task.

[2021-05-07 00:11] nitesh-idnani1 commented on #668
Based on my discussion with @joshua-berry-ntnx , here are some of the points:

1. Scale testing is more important for papiea since we want to identify and analyze the reason for failures that could happen at scale.
2. Scale testing will run for a span of 1-2 days to ensure its stability in real-world applications. The tests should be triggered every weekend and whenever we have a major/minor versi

[2021-05-10 21:00] yitingwnutanix opened #692 "spec_version updating issue"
### System Details
I see the following GET & PUT logs for entity **17de84ed-140c-455f-9ef6-9031b068ede4**
With the 1st GET operation, the `spec_version` is **1**, `used_ips` is [], `timestamp` is `"2021-05-07T16:29:22.792Z"`
[code]
With the 2nd GET operation, the `spec_version` is **2**, `used_ips` is [{"owner":{"uuid":"bad97306-426b-44cb-8f79-c97ee169621c","kind":"instance"},"ip":"10.189.0.10"}],

[2021-05-10 21:39] yitingwnutanix commented on #692
@manojsudheendra @joshua-berry-ntnx  ^ ^

[2021-05-10 22:07] nitesh-idnani1 commented on #692
Another incorrect thing is the GET call getting an incremented spec version, even though there is no create/update operation between the GET requests.

[2021-05-10 22:12] yitingwnutanix commented on #692
@nitesh-idnani1 I think the 2nd GET call is correct it has the correct used_ip spec. It should happen after the 1st PUT call, but is logged first.

[2021-05-11 17:34] joshua-berry-ntnx commented on #577
We should also make sure it's easy to query/find/follow the logs for an individual entity across both SDK and engine.

[2021-05-11 17:47] manojsudheendra opened #695 "update_status call should post current status in DB and requested status update in the error log"
### System Details

- **Papiea Engine version**: 0.9.60
- **Papiea SDK version:** 0.9.60
- **Papiea Client version:** 0.9.60

### Describe the Bug

Current status update failure message looks like this:
{"message":"Unhandled request failure: Request failed with status code 409","request":{"method":"PATCH","url":"http://papiea:3000/provider/bmaas/0.0.1/update_status","headers":{"Accept":"applicatio

[2021-05-12 03:59] manojsudheendra opened #702 "Intent handler not called for subnet entity even though there is a diff"
### System Details

- **Papiea Engine version**: 0.9.60
- **Papiea SDK version:** 0.9.60
- **Papiea Client version:** 0.9.60

### Describe the Bug

The subnet entity's diff is never resolved because the intent handler: on_removed_ip never gets called. The subnet entity in question's log from the GET request is posted below. The issue is intermittent and seems specific to this entity since I see th

[2021-05-13 01:34] joshua-berry-ntnx commented on #676
We were able to confirm recently that this is still an issue; we see winston logger objects accumulating in a core dump from a provider that uses Winston logger only through the papiea-sdk. So we need to look into why these loggers aren't being freed.

[2021-05-17 22:57] joshua-berry-ntnx commented on #668
@nitesh-idnani1 You've got a lot of good stuff here spread across a few comments; can you capture all of it in a doc in our Papiea folder? That will make it easier to review and comment on. Thanks!

[2021-05-20 17:22] joshua-berry-ntnx commented on #676
@Emulebest did some investigation and determined that Winston has a longstanding memory leak which the developers do not seem interested in solving. So we need to switch to using another logger. Pasting comment from Slack:

As an alternative we can switch to https://www.npmjs.com/package/signale as it looks like the most popular alternative without many issues open, could you take a look please?

[2021-05-20 18:06] #488 closed

[2021-05-21 19:38] nitesh-idnani1 commented on #702
After my discussion with @joshua-berry-ntnx, we feel this issue is caused by a race condition in the watchlist update operation. Fixing the race using a hash based approach to find conflict and retry the update op in case of watchlist conflicts.

[2021-05-25 17:14] joshua-berry-ntnx opened #705 "Add explicit option to turn off HTTPS"
For backward compatibility for the time being, we want to be able to explicitly turn off HTTPS via an environment variable. The default should still be HTTPS-enabled, though.

[2021-05-26 17:11] #702 closed

[2021-05-26 20:15] #705 closed

[2021-05-27 12:04] #676 closed

[2021-05-27 16:52] #692 closed